In [1]:
from vnstock import Vnstock 
stock = Vnstock().stock(symbol='ACB', source='VCI')

    Khi tiếp tục sử dụng Vnstock3, bạn xác nhận rằng bạn đã đọc, hiểu và đồng ý với Chính sách quyền riêng tư và Điều khoản, điều kiện về giấy phép sử dụng Vnstock3.

    Chi tiết:

    - Giấy phép sử dụng phần mềm: https://vnstocks.com/docs/tai-lieu/giay-phep-su-dung
    - Chính sách quyền riêng tư: https://vnstocks.com/docs/tai-lieu/chinh-sach-quyen-rieng-tu

2025-01-25 21:15:23 - vnstock.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

In [2]:
stock.listing.all_symbols()

     ticker                                         organ_name
0       A32                                 Công ty Cổ phần 32
1       AAA                  Công ty Cổ phần Nhựa An Phát Xanh
2       AAM                    Công ty Cổ Phần Thủy Sản MeKong
3       AAS            Công ty Cổ phần Chứng khoán SmartInvest
4       AAT        Công ty Cổ phần Tập đoàn Tiên Sơn Thanh Hóa
...     ...                                                ...
1593    XPH                    Công ty Cổ phần Xà phòng Hà Nội
1594    YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
1595    YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
1596    YEG                     Công ty Cổ phần Tập đoàn Yeah1
1597    YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...

[1598 rows x 2 columns]

In [3]:
stock.listing.symbols_by_group()

0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    MBB
11    MSN
12    MWG
13    PLX
14    POW
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

In [5]:
st = stock.quote.history(start= '2024-01-25' , end= '2025-01-25' )
st

          time   open   high    low  close    volume
0   2024-01-25  21.71  21.76  21.50  21.67   5090360
1   2024-01-26  21.71  22.18  21.71  22.09   6861782
2   2024-01-29  22.26  22.26  21.80  21.80   9281301
3   2024-01-30  21.88  22.01  21.76  21.80   6383741
4   2024-01-31  21.92  21.92  21.46  21.63  12162755
..         ...    ...    ...    ...    ...       ...
245 2025-01-20  24.95  25.05  24.80  25.00   4004400
246 2025-01-21  25.05  25.10  24.85  24.95   4342600
247 2025-01-22  25.00  25.00  24.80  24.85   2787900
248 2025-01-23  24.90  25.40  24.90  25.30   8896800
249 2025-01-24  25.20  25.50  25.20  25.35   4898600

[250 rows x 6 columns]

In [7]:
from vnstock.explorer.vci.financial import Finance
report = Finance(symbol='ACB',period='quarter' )
report

In [ ]:
report.balance_sheet(lang='en')

In [11]:
data=report.balance_sheet(lang='vi')

In [12]:
data.columns

Index(['CP', 'Năm', 'Kỳ', 'TỔNG CỘNG TÀI SẢN (Tỷ đồng)',
       'Tiền và tương đương tiền (Tỷ đồng)',
       'Tiền gửi tại ngân hàng nhà nước Việt Nam',
       'Tiền gửi tại các TCTD khác và cho vay các TCTD khác',
       'Chứng khoán kinh doanh', 'Chứng khoán kinh doanh',
       'Dự phòng giảm giá chứng khoán kinh doanh',
       'Các công cụ tài chính phái sinh và khoản nợ tài chính khác',
       'Cho vay khách hàng', 'Cho vay khách hàng',
       'Dự phòng rủi ro cho vay khách hàng', 'Chứng khoán đầu tư',
       'Chứng khoán đầu tư sẵn sàng để bán',
       'Chứng khoán đầu tư giữ đến ngày đáo hạn',
       'Dự phòng giảm giá chứng khoán đầu tư', 'Đầu tư dài hạn (Tỷ đồng)',
       'Đầu tư vào công ty liên doanh', 'Tài sản dài hạn khác (Tỷ đồng)',
       'Dự phòng giảm giá đầu tư dài hạn', 'Tài sản cố định (Tỷ đồng)',
       'Tài sản cố định hữu hình', 'Tài sản cố định vô hình',
       'Giá trị ròng tài sản đầu tư', 'Tài sản Có khác',
       'TỔNG CỘNG NGUỒN VỐN (Tỷ đồng)', 'NỢ PHẢI TRẢ (Tỷ đồng)',
       'Các khoản nợ chính phủ và NHNN Việt Nam',
       'Tiền gửi và vay các Tổ chức tín dụng khác', 'Tiền gửi của khách hàng',
       'Các công cụ tài chính phái sinh và khoản nợ tài chính khác',
       'Vốn tài trợ, uỷ thác đầu tư của CP và các tổ chức TD khác',
       'Phát hành giấy tờ có giá', 'Các khoản nợ khác',
       'VỐN CHỦ SỞ HỮU (Tỷ đồng)', 'Vốn của tổ chức tín dụng',
       'Quỹ của tổ chức tín dụng', 'Chênh lệch tỷ giá hối đoái',
       'Lãi chưa phân phối (Tỷ đồng)', 'Vốn góp của chủ sở hữu (Tỷ đồng)',
       'LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ'],
      dtype='object')

In [16]:
cpsx = [ "AAA", "AAM", "AAT", "ABT", "ACC", "ACL", "ADC", "ADG", "ADS", "AGM", "AGX", "ALV", "AMC", "AME", "AMP", "ANV", "APC", "APF", "APP", "APS", "ARM", "ASA", "ASM", "ASP", "AST", "ATG", "AVC", "AVF", "BAX", "BBH", "BBS", "BBW", "BCV", "BDB", "BDT", "BED", "BGM", "BHC", "BHT", "BIC", "BID", "BII", "BKC", "BKH", "BLC", "BLF", "BMC", "BMS", "BNA", "BPC", "BRC", "BRR", "BSA", "BSC", "BST", "BTA", "BTC", "BTH", "BTW", "BTT", "BTV", "BVB", "BVS", "BWE", "BWS", "BXT", "C32", "C47", "C92", "CAB", "CAD", "CAN", "CAP", "CAT", "CAV", "CAX", "CBC", "CCB", "CCH", "CCM", "CCP", "CCT", "CDC", "CDO", "CEG", "CEN", "CFC", "CFG", "CFF", "CFM", "CFS", "CFT", "CFV", "CGC", "CGD", "CGS", "CGT", "CGV", "CHC", "CHD", "CHS", "CHT", "CHV", "CIC", "CII", "CIM", "CIN", "CIP", "CIR", "CIT", "CIV", "CIX", "CJC", "CJS", "CJT", "CJV", "CJS", "CJT", "CJV", "CKC", "CKD", "CKS", "CKT", "CKV", "CLG", "CLH", "CLI", "CLL", "CLM", "CLN", "CLO", "CLP", "CLQ", "CLR", "CLS", "CLT", "CLV", "CLX", "CMA", "CMB", "CMC", "CMD", "CME", "CMF", "CMG", "CMH", "CMI", "CMJ", "CMK", "CML", "CMM", "CMN", "CMO", "CMP", "CMQ", "CMR", "CMS", "CMT", "CMU", "CMV", "CMW", "CMX", "CNA", "CNB", "CNC", "CND", "CNE", "CNF", "CNG", "CNH", "CNI", "CNJ", "CNK", "CNL", "CNM", "CNN", "CNO", "CNP", "CNQ", "CNR", "CNS", "CNT", "CNU", "CNV", "CNW", "CNX", "COA", "COB", "COC", "COD", "COE", "COF", "COG", "COH", "COI", "COJ", "COK", "COL", "COM", "CON", "COO", "COP", "COQ", "COR", "COS", "COT", "COU", "COV", "COW", "COX", "COY", "COZ", "CPA", "CPB", "CPC", "CPD", "CPE", "CPF", "CPG", "CPH", "CPI", "CPJ", "CPK", "CPL", "CPM", "CPN", "CPO", "CPP", "CPQ", "CPR", "CPS", "CPT", "CPU", "CPV", "CPW", "CPX", "CPY", "CPZ", "CQA", "CQB", "CQC", "CQD", "CQE", "CQF", "CQG", "CQH", "CQI", "CQJ", "CQK", "CQL", "CQM", "CQN", "CQQ", "CQR", "CQS", "CQT", "CQU", "CQV", "CQW", "CQX", "CQY", "CQZ", "CRA", "CRB", "CRC", "CRD", "CRE", "CRF", "CRG", "CRH", "CRI", "CRJ", "CRK", "CRL", "CRM", "CRN", "CRO", "CRP", "CRQ", "CRR", "CRS", "CRT", "CRU", "CRV", "CRW", "CRX", "CRY", "CRZ", "CSA", "CSB", "CSC", "CSD", "CSE", "CSF", "CSG", "CSH", "CSI", "CSJ", "CSK", "CSL", "CSM", "CSN", "CSO", "CSP", "CSQ", "CSR", "CSS", "CST", "CSU", "CSV", "CSW", "CSX", "CSY", "CSZ", "CTA", "CTB", "CTC", "CTD", "CTE", "CTF", "CTG", "CTH", "CTI", "CTJ", "CTK", "CTL", "CTM", "CTN", "CTO", "CTP", "CTQ", "CTR", "CTS", "CTT", "CTU", "CTV", "CTW", "CTX", "CTY", "CTZ", "CUA", "CUB", "CUC", "CUD", "CUE", "CUF", "CUG", "CUH", "CUI", "CUJ", "CUK", "CUL", "CUM", "CUN", "CUO", "CUP", "CUQ", "CUR", "CUS", "CUT", "CUU", "CUV", "CUW", "CUX", "CUY", "CUZ", "CVA", "CVB", "CVC", "CVD", "CVE", "CVF", "CVG", "CVH", "CVI", "CVJ", "CVK", "CVL", "CVM", "CVN", "CVO", "CVP", "CVQ", "CVR", "CVS", "CVT", "CVU", "CVV", "CVW", "CVX",]

In [14]:
midcaps=stock.listing.symbols_by_group('VNMidCap')

In [17]:
midcaps

0     AAA
1     ANV
2     ASM
3     BCG
4     BMP
     ...
65    VHC
66    VIX
67    VND
68    VPI
69    VSH
Name: symbol, Length: 70, dtype: object

In [18]:
# Khởi tạo hai danh sách
list1 = cpsx 
list2 = midcaps

# Chuyển đổi danh sách thành tập hợp
set1 = set(list1)
set2 = set(list2)

# Tìm giá trị chung giữa hai tập hợp
common_values = set1 & set2

# In kết quả
print(common_values)

{'ASM', 'CII', 'BWE', 'ANV', 'CTD', 'CRE', 'CMG', 'AAA', 'CTR'}